/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/app
/bootstrap
/config
/database
/routes
/storage
/tests
/vendor
/public
/users
.env
.env.example
.gitattributes
artisan
composer.json
composer.lock
phpunit.xml
please
server.php
