/** 1. Your custom variables and variable overwrites. */
@import 'global/settings';
@import 'global/mixins';

/** 2. Import default variables and available mixins. */
@import '~uikit/src/scss/variables.scss';
@import '~uikit/src/scss/mixins.scss';

/** 3. Your custom mixin overwrites. */
@import 'components/settings';

/** 4. Import UIkit */
@import '~uikit/src/scss/uikit.scss';

/** 5. Site Styles */
@import 'global/nav';
@import 'global/footer';
@import 'global/styles';
@import 'global/imports/components';
@import 'global/imports/layouts';
@import 'global/imports/views';
