nav.uk-navbar-container {
  .uk-navbar-dropdown {
    ul.uk-nav {
      li.uk-parent {
        position: relative;

        span.link {
          display: block;

          a {
            display: block;
            margin-right: 1.125rem;
            padding: $nav-item-padding-vertical $nav-item-padding-horizontal;
            color: $global-muted-color;
            text-decoration: none;

            &:hover {
              color: $global-color;
            }
          }
        }

        a.accordion-icon {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          line-height: 30px;
          width: 30px;
          text-align: center;

          i {
            transition: .125s;
          }
        }

        &.uk-open {
          >a.accordion-icon {
            i {
              transform: rotate(-90deg);
            }
          }
        }

        &.uk-active {
          >span.link a {
            color: $global-emphasis-color;
          }
        }
      }
    }

    .nav-menu-mobile {
      left: 0 !important;
    }
  }
}
